SecureLogin/SecureLoginWebApp/Service References/SecureLoginService/SecureLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecureLoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60191/SecureLoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60191/SecureLoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecureLoginService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="ISecureLoginService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureLoginService_LoginValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginValidation" />
  </wsdl:message>
  <wsdl:message name="ISecureLoginService_LoginValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginValidationResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureLoginService_checkIfUserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:checkIfUserExists" />
  </wsdl:message>
  <wsdl:message name="ISecureLoginService_checkIfUserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkIfUserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureLoginService_checkIfAccountLocked_InputMessage">
    <wsdl:part name="parameters" element="tns:checkIfAccountLocked" />
  </wsdl:message>
  <wsdl:message name="ISecureLoginService_checkIfAccountLocked_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkIfAccountLockedResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecureLoginService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureLoginService/RegisterUser" message="tns:ISecureLoginService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureLoginService/RegisterUserResponse" message="tns:ISecureLoginService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureLoginService/LoginValidation" message="tns:ISecureLoginService_LoginValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureLoginService/LoginValidationResponse" message="tns:ISecureLoginService_LoginValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkIfUserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureLoginService/checkIfUserExists" message="tns:ISecureLoginService_checkIfUserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureLoginService/checkIfUserExistsResponse" message="tns:ISecureLoginService_checkIfUserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkIfAccountLocked">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureLoginService/checkIfAccountLocked" message="tns:ISecureLoginService_checkIfAccountLocked_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureLoginService/checkIfAccountLockedResponse" message="tns:ISecureLoginService_checkIfAccountLocked_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISecureLoginService" type="tns:ISecureLoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/ISecureLoginService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginValidation">
      <soap:operation soapAction="http://tempuri.org/ISecureLoginService/LoginValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkIfUserExists">
      <soap:operation soapAction="http://tempuri.org/ISecureLoginService/checkIfUserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkIfAccountLocked">
      <soap:operation soapAction="http://tempuri.org/ISecureLoginService/checkIfAccountLocked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecureLoginService">
    <wsdl:port name="BasicHttpBinding_ISecureLoginService" binding="tns:BasicHttpBinding_ISecureLoginService">
      <soap:address location="http://localhost:60191/SecureLoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>